name: Test Form

on:
  workflow_dispatch:
    inputs:
      text:
        type: string
        default: 'Hello World!'
      env:
        type: environment

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Test Step
        run: |
          echo ${{ inputs.text }}
          echo ${{ inputs.env }}
    
      
